<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mbv.biz.config.dao.DegDtlEntityMapper" >
  <resultMap id="BaseResultMap" type="com.mbv.biz.config.entity.DegDtlEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="vp_deg_id" property="vpDegId" jdbcType="BIGINT" />
    <result column="prod_num" property="prodNum" jdbcType="VARCHAR" />
    <result column="qty" property="qty" jdbcType="DECIMAL" />
    <result column="unit_price" property="unitPrice" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, vp_deg_id, prod_num, qty, unit_price, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from vp_deg_dtl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vp_deg_dtl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mbv.biz.config.entity.DegDtlEntity" >
    insert into vp_deg_dtl (id, vp_deg_id, prod_num, 
      qty, unit_price, remark
      )
    values (#{id,jdbcType=BIGINT}, #{vpDegId,jdbcType=BIGINT}, #{prodNum,jdbcType=VARCHAR}, 
      #{qty,jdbcType=DECIMAL}, #{unitPrice,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mbv.biz.config.entity.DegDtlEntity" >
    insert into vp_deg_dtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vpDegId != null" >
        vp_deg_id,
      </if>
      <if test="prodNum != null" >
        prod_num,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="unitPrice != null" >
        unit_price,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="vpDegId != null" >
        #{vpDegId,jdbcType=BIGINT},
      </if>
      <if test="prodNum != null" >
        #{prodNum,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=DECIMAL},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbv.biz.config.entity.DegDtlEntity" >
    update vp_deg_dtl
    <set >
      <if test="vpDegId != null" >
        vp_deg_id = #{vpDegId,jdbcType=BIGINT},
      </if>
      <if test="prodNum != null" >
        prod_num = #{prodNum,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=DECIMAL},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbv.biz.config.entity.DegDtlEntity" >
    update vp_deg_dtl
    set vp_deg_id = #{vpDegId,jdbcType=BIGINT},
      prod_num = #{prodNum,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=DECIMAL},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>