<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mbv.inventory.dao.impl.DegDtlEntityDao" >
  <resultMap id="BaseResultMap" type="com.mbv.inventory.entity.DegDtlEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="vp_deg_id" property="vpDegId" jdbcType="BIGINT" />
    <result column="prod_num" property="prodNum" jdbcType="VARCHAR" />
    <result column="qty" property="qty" jdbcType="NUMERIC" />
    <result column="unit_price" property="unitPrice" jdbcType="NUMERIC" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="DtlResultMap" type="com.mbv.inventory.bean.GoodBean" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="vp_deg_id" property="vpDegId" jdbcType="BIGINT" />
    <result column="prod_num" property="prodNum" jdbcType="VARCHAR" />
    <result column="qty" property="qty" jdbcType="NUMERIC" />
    <result column="unit_price" property="unitPrice" jdbcType="NUMERIC" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Dtl_Column_List" >
    id, vp_deg_id, prod_num, qty, unit_price, remark
  </sql>
  
  <sql id="Base_Column_List" >
    id, vp_deg_id, prod_num, qty, unit_price, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 16 15:36:15 CST 2015.
    -->
    select 
    <include refid="Base_Column_List" />
    from vp_deg_dtl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 16 15:36:15 CST 2015.
    -->
    delete from vp_deg_dtl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mbv.inventory.entity.DegDtlEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 16 15:36:15 CST 2015.
    -->
    insert into vp_deg_dtl (id, vp_deg_id, prod_num, 
      qty, unit_price, remark)
    values (#{id,jdbcType=BIGINT}, #{vpDegId,jdbcType=BIGINT}, #{prodNum,jdbcType=VARCHAR}, 
      #{qty,jdbcType=NUMERIC}, #{unitPrice,jdbcType=NUMERIC}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mbv.inventory.entity.DegDtlEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 16 15:36:15 CST 2015.
    -->
    insert into vp_deg_dtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vpDegId != null" >
        vp_deg_id,
      </if>
      <if test="prodNum != null" >
        prod_num,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="unitPrice != null" >
        unit_price,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="vpDegId != null" >
        #{vpDegId,jdbcType=BIGINT},
      </if>
      <if test="prodNum != null" >
        #{prodNum,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=NUMERIC},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=NUMERIC},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbv.inventory.entity.DegDtlEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 16 15:36:15 CST 2015.
    -->
    update vp_deg_dtl
    <set >
      <if test="vpDegId != null" >
        vp_deg_id = #{vpDegId,jdbcType=BIGINT},
      </if>
      <if test="prodNum != null" >
        prod_num = #{prodNum,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=NUMERIC},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=NUMERIC},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbv.inventory.entity.DegDtlEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 16 15:36:15 CST 2015.
    -->
    update vp_deg_dtl
    set vp_deg_id = #{vpDegId,jdbcType=BIGINT},
      prod_num = #{prodNum,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=NUMERIC},
      unit_price = #{unitPrice,jdbcType=NUMERIC},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectDegDtlByParams" resultMap="DtlResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Dtl_Column_List" />
    from vp_deg_dtl
    where vp_deg_id = #{degId}
  </select>
  
  <select id="findBydegIdsMap" resultMap="DtlResultMap" parameterType="java.util.List" >
	 Select
	  prod_num, sum(qty) as qty
      from vp_deg_dtl where vp_deg_id in
	 <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	   #{item}
	 </foreach>
	 group by prod_num
  </select>
  
  <select id="selectByParamMap" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select <include refid="Base_Column_List" /> 
  	from vp_deg_dtl vdd
	where exists (select 1 from vp_deg vd where vd.id = vdd.vp_deg_id and vd.unit_code = #{unitCode} 
		  and vd.wareh_code = #{warehCode} and vd.doc_code = #{docCode})
	  	  and prod_num = #{prodNum}
  </select>
  
</mapper>